@import '../../mq';

@media #{$desktopHD} {
  @import '../desktop';
  & {
    .reviews-carousel {
      width: 90vw;
    }
    .discount {
      background-position: 0 center;
      min-height: 716px;
      position: relative;
      &:before {
          content: "";
          background: #272520;
          height: 569px;
          width: 100vw;
          position: absolute;
          top: 74px;
          right: 50%;
          z-index: -1;
      }
    }
  }
}