@import '../../mq';

@media #{$tabletPortrait} {
  //    @import '../mobile';
  & {
  main, header, footer {
    overflow: hidden;
  }
    .header-carousel .owl-dots {
      display: none;
    }
    .header-carousel {
      width: 100%;
    }
    .header-item {
      text-align: center;
      margin-bottom: 80px;
      p {
        max-width: 330px;
        margin: 0 auto 10px;
      }
      br {
        display: none;
      }
    }
    .header-carousel .owl-nav {
      max-width: 100%;
      text-align: center;
    }
    .header-item_bottom {
      text-align: center;
    }
    .item_bottom-slider {
      margin-top: 68px;
      .owl-dots {
        text-align: center;
        .owl-dot {
          display: inline-block;
          width: 10px;
          height: 10px;
          border: 2px solid #7a7a7a;
          margin: 0 9.5px;
          border-radius: 50%;
          &.active {
            background-color: #c83a3a;
            border-color: #c83a3a;
          }
        }
      }
      .header-item_bottom p {
        margin: 0;
      }
    }

  }
  .first img {
    max-width: 114%;
    width: 120%;
  }
    .first img {
    max-width: 125%;
    width: 107%;
    margin-bottom: 35px;
  }
  .line-img {
    &:after, &:before {
      display: none;
    }
  }
  .exhortation-block:before {
    display: none;
  }
  .exhortation-item {
    padding-left: 0;
  }
  .first {
    text-align: center;
    .first-item h2 {
      margin-top: 40px;
      margin-bottom: 25px;
    }
  }
  .exhortation-item span {
    display: inline-block;
    max-width: 380px;
    vertical-align: top;
    &:first-child {
      p {
        max-width: 221px;
      }
    }
    &:nth-child(2) {
      float: right;
    }
  }
  .exhortation-block {
    margin-top: 45px;
    background: url('../images/bl2-img2ds.png') no-repeat center;
  }
  .slider-item .caption .top {
    font-size: 12px;
  }
  .slider-item .caption .caption-item p {
    font-size: 14px;
  }
  .slider-item .caption .caption-item .order-btn {
    padding: 8px 14px;
    line-height: 1;
    font-size: 17px;
}
  .slider-item h4 {
    bottom: 0px;
    font-size: 20px;
}
  #home_info {
    max-width: 100%;
  }
  .home_info-slider {
    overflow: hidden;
  }
  .ml233 {
    margin-left: 0;
  }
  .max-width {
    margin-left: auto;
    margin-right: auto;
    &:after {
      content: "";
      width: 220px;
      height: 0;
      border-top: 1px dashed #ffffff;
      opacity: 0.5;
      position: absolute;
      top: -2px;
      right: 100%;
    }
  }
  .steps {
    padding-bottom: 140px;
  }
  .consultation {
    br {
      display: none;
    }
    .col-lg-4 {
      max-width: 557px;
      margin: 0 auto
    }
  }
  .consultation-list {
    text-align: center;
  }
  .consultation-list li {
    margin-bottom: 20px;
    text-align: left;
    margin-right: 20px;
    min-width: 236px;
    &:nth-child(2) {
      margin-right: 0;
    }
    br {
      display: block;
    }
  }
  .consultation-info {
    margin-bottom: 65px;
    margin-right: 0;
  }
  .consultation .title {
    margin-bottom: 40px;
  }
  .reviews {
    padding-bottom: 90px;
  }
  .reviews-carousel {
    width: 150vw;
  }
  .discount {
    background: url(../images/sc4.png) no-repeat 22.5% center;
  }
  footer {
    text-align: center;
    padding-top: 10px;
    .menu {
      text-align: center;
      li {
        display: block;
        margin: 10px 0;
      }
    }
  }
  .home_img {
    display: none;
  }
  .filter-box {
    margin-bottom: 20px;
    text-align: left;
  }
  .filter-box:hover #metr.filter-info {
    right: 0;
    left: inherit;
    transform: none;
  }
  .lg-padd-0 {
    padding: 0 15px;
    text-align: right;
  }
.consultation-item {
    position: absolute;
    top: 30px;
    left: 43px;
    max-width: 343px;
    text-align: center;
}
  .consultation-carousel .item {
       min-height: 525px;
    background: #efefef;
        padding-top: 146px;

  }
}