@import '../../mq';

@media #{$tabletLandscape} {
    @import '../desktop';
  .header-item {
        text-align: left;
        margin-bottom: 0px;
      }
  .first img {
    max-width: 100%;
    width: 100%;
  }
  .max-width {
    margin-left: 0;
    margin-right: 0;
    &:after {
      content: "";
      display: none;
    }
  }
  footer {
    text-align: left;
    .menu {
      text-align: right;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0px 10px;
      }
    }
  }
  .home_img {
    display: block;
  } 
  .consultation-carousel .item {
    padding-top: 0;
  }
    .consultation-list li {
    margin-bottom: 20px;
    text-align: left;
    margin-right: 20px;
    min-width: inherit;
    &:nth-child(2) {
      margin-right: 20px;
    }
    br {
      display: block;
    }
  }
}
